crab_usd/configuration/crab_robot.usd filter=lfs diff=lfs merge=lfs -text
crab_usd/configuration/crab_sensor.usd filter=lfs diff=lfs merge=lfs -text
crab_usd/configuration/crab_base.usd filter=lfs diff=lfs merge=lfs -text
crab_usd/configuration/crab_physics.usd filter=lfs diff=lfs merge=lfs -text
